.container {
    width: 100%;
    flex: 1 1 0%;
    position: absolute;
}

.listContainer {
    position: absolute;
    top: 0;
    left: 0;
}

.list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
