.menu {
    position: absolute;
    top: 17px;
    right: 15px;
    padding: 0;
}

.menuButton {
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    border-radius: 31px;
}
.menuButton:active {
    background-color: rgba(51, 51, 51, 0.1);
}

.dropdown {
    position: absolute;
    right: 0;
    top: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background-color: var(--white);
}

.closeButton {
    background-color: var(--greyD9);
    padding: 12px 23px;
    border-radius: 0 0 3px 3px;
    width: 100%;
}

@media all and (min-width: 1024px) {
    .menu {
        position: relative;
        order: 2;
        display: flex;
        align-items: center;
        flex: 0 0;
        top: unset;
        right: unset;
        margin: 0 0 0 auto;
    }

    .menuButton {
        align-self: center;
        transform: unset;
    }

    .closeButton {
        display: none;
    }
}

@media all and (min-width: 1540px) {
    .menuButton:hover {
        background-color: rgba(51, 51, 51, 0.1);
    }
}
