.menuItemsList {
    padding: 0 20px;
}

.menuItem {
    padding: 12px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.menuItem > svg + span {
    margin-left: 7px;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: var(--greyEC);
}

@media all and (max-width: 320px) {
    .hiddenMobile {
        display: none !important;
    }
}
