.headerContainer, .buttonsContainer {
    margin-top: 20px;
}

.headerContainer {
    display: flex;
}

.headerContainer div {
    margin-right: 10px;
}

.buttonsContainer {
    margin-bottom: 20px;
}

.contentContainer {
    padding: 20px 10px;
    border-left: 2px solid gray;
}